@model eShop.Core.ViewModels.ProductDisplayViewModel

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h4>@Html.DisplayFor(model => model.product.ProductName)</h4>
        <hr />
        <dl class="dl-horizontal">

            <dd>
                @Html.DisplayFor(model => model.product.ProductDescription)
            </dd>
            <dd>
                RM @Html.DisplayFor(model => model.product.ProductPrice)
            </dd>

            <dt>
                <img class="img-thumbnail" style="" src="~/Content/ProductImages/@Model.product.ProductImage" />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product.ProductDiscount) % discount
            </dd>

        </dl>
        @using (Html.BeginForm())
        {
            if (Session["UserProfile"] == null)
            {
                @Html.Hidden(Model.product.ProductID.ToString())
                @Html.Hidden(Model.userProfile.UserAccountID.ToString())

                foreach (var item in Model.sizeQuantities)
                {
                    @Html.RadioButton("Size", item.SizeName) <text>&nbsp;</text> @item.SizeName
                    <text>&nbsp;&nbsp; </text>
                }
                <br>
                <input type="submit" value="Add to Cart" class="btn btn-default" />
            }
            else
            {
                foreach (var item in Model.sizeQuantities)
                {
                    @item.SizeName <i style="font-size:24px" class="fa">&#xf00c;</i>
                }
            }

        }
    </div>
