@model eShop.Core.ViewModels.ProductDisplayViewModel

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h4>@Html.DisplayFor(model => model.product.ProductName)</h4>
        <hr />
        <dl class="dl-horizontal">

            <dd>
                @Html.DisplayFor(model => model.product.ProductDescription)
            </dd>
            <dd>
                RM @Html.DisplayFor(model => model.product.ProductPrice)
            </dd>

            <dt>
                <img class="img-thumbnail" style="" src="~/Content/ProductImages/@Model.product.ProductImage" />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product.ProductDiscount) % discount
            </dd>

        </dl>
        @using (Html.BeginForm("AddToBasket", "Basket", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.product.ProductID)

            foreach (var item in Model.sizeQuantities)
            {
                @Html.RadioButton("Size", item.SizeQuantityID) @item.SizeName
                <text>&nbsp;&nbsp; </text>
            }
            <br>
            <input type="submit" value="Add to Cart" class="btn btn-default" />
        }
    </div>
