@model IEnumerable<eShop.Core.Models.ProductCategory>

@{
    ViewBag.Title = "ListOfProductCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.AdminLayoutMessage = @TempData["AdminLayoutMessage"];
}

    <div class="container">
        <h2>ListOfProductCategory</h2>

        <p>
            @Html.ActionLink("Create New Product Category", "CreateProductCategory")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductCategoryName)
                </th>
                <th>
                    Action
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Reverse())
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProductCategory", new { id = item.ProductCategoryID }) |
                @Html.ActionLink("Delete", "DeleteProductCategory", new { id = item.ProductCategoryID })
            </td>
        </tr>
            }

        </table>

    </div>